* {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    font-family: 'Inter', sans-serif;
}

.secondary-btn {
    border-radius: 5px;
    background: #FF0000;
    border: 0;
    padding: 10px 25px;
    margin-right: 7px;
    margin-top: 25px;
}

.container {
    width: 90%;
    display: block;
    margin: 0 auto;
}

/* header section */

.banner-image {
    background-image: linear-gradient(180deg, #070211, #07021100), url('resources/Banner\ Image.png');
    width: auto;
    height: 64vh;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    margin-left: 130px;
    margin-right: 130px;
    margin-top: 50px;
}

.banner-text {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 3vw;
    font-weight: 400;
    padding-top: 10vh;
    margin-bottom: 3vh;
}

.banner-heading {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 11vh;
    font-weight: 700;
    line-height: 12vh;
}

/* main section */

/* discount section */

.discount-off {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-top: 120px;
}

.discount-text {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px;
}

.discount-small-heading {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 12px;
    margin-bottom: 50px;
}

.discount-image {
    width: 800px;
    height: 500px;
    display: block;
    margin: 0 auto;
}

/* party section */

.party-section {
    background-image: linear-gradient(90deg, #070211, #07021100), url('resources/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    width: 78vw;
    height: 50vh;
    margin-top: 17vh;
    margin-left: 6vw;
}

.year-image {
    height: 430px;
}

.party-element {
    display: flex;
    gap: 40px;
}

.party-heading {
    color: #FFF;
    font-family: Merriweather;
    font-size: 5vh;
    font-weight: 900;
    line-height: 8vh;
    margin-left: 6vw;
    padding-top: 5vw;
}

.party-small-text {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 2vh;
    font-weight: 400;
    line-height: 3vh;
    margin-left: 6vw;
}


#second-btn {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 2.5vh;
    margin-left: 6vw
}

.year-image {
    width: 26vw;
    height: 48vh;
    margin-top: 1vh;
    margin-right: 3vw;
}

/* time-date section */

.time-date {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    ;
    margin-top: 120px;
    margin-left: 130px;
    margin-right: 130px;
    text-align: center;

}

.time-date-text {
    padding-top: 100px;
    padding-bottom: 120px;
}

.time-date-text h3 {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}

.span {
    color: #F00;
}

#btn {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin-top: 50px;
}

/* coming soon section */


.add-coming-soon {
    width: 80%;
    display: block;
    margin: 0 auto;
    margin-bottom: 100px;
}

.coming-soon {
    margin-top: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.circle-image {
    width: 350px;
    height: 350px;
    border-radius: 350px;
    border: 15px solid #F00;
    margin-top: 10px;
    margin-right: 90px;
    margin-left: 40px;

}

.circle-img-new-div {
    width: 33%;
}

.coming-soon-imsge {
    width: 290px;
    height: 290px;
    border-radius: 290px;
    margin-left: 31px;
    margin-top: 31px;
    padding-right: 60px;

}

.new-best-offer {
    margin-top: 80px;
    width: 23%;
}

.new-best-offer h4 {
    color: #F00;
    text-align: left;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 14px;
}

.new-best-offer h3 {
    color: #070211;
    font-family: Merriweather;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 16px;
}

.new-best-offer p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
    margin-right: 22px;
}

.new-year-pic-text h1 {
    color: #F00;
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
}

.new-year-pic-text p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
    width: 300px;
}

.new-year-pic-text {
    margin-top: 80px;
    width: 23%;

}

.twenty-img {
    width: 100px;
    height: 100px;

}

/* holidays-sale */

.holidays-sale {
    margin-top: 40px;
    display: block;
    width: 80%;
    position: relative;
    margin: 0 auto;
    margin-bottom: 100px;
}

.holidays-sale h4 {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
}

#abc {
    position: absolute;
    top: 30vw;
    left: 39vw;
    z-index: 10;
    height: 15vw;
    width: 15vw;
}



.holidays-sale h1 {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 30px;
}

.holidays-sale p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    margin-left: 130px;
    margin-right: 130px;
}

.sale {
    margin-top: 80px;
    background: #FFF;
    display: flex;
    position: relative;
    justify-content: space-between;
    background-image: url('resources/Rectangle\ 2.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

.image-modify {
    width: 100%;
}

.img-2 {
    margin-top: 4px;
    position: relative;
    align-items: start;
    justify-content: end;
    display: flex;
    padding-top: 0.9vw;
}

/* gift section */

.g-1 {
    display: block;
    width: 80%;
    margin-top: 5vw;
    margin: 0 auto;

}

.gift {
    width: 100%;
}

.gift h4 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
}

.gift h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
}

.gift p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.gift-image {
    width: 22.5vw;
    height: 25vw;
    border-radius: 16px;
    margin-top: 48px;
}

.gift-image:hover {
    border: 2px solid black;
    box-shadow: 0px 0px 15px 2px black;
}

.gift-row-1 {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
}

/* subscribe section */

.subscribe {
    margin-top: 120px;
    margin-left: 130px;
    margin-right: 130px;
    padding-bottom: 80px;
    background: rgba(255, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.letter-img {
    padding-top: 80px;
    margin-bottom: 40px;
}

.subscribe h1 {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}

.subscribe p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 22px;
}

.email {
    width: 648px;
    height: 72px;
    border-radius: 50px;
    background: #FFF;
    padding-left: 30px;
    color: rgba(7, 2, 17, 0.30);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    border: 0;
    outline: none;
}

.sub-btn {
    width: 210px;
    height: 72px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    position: relative;
}

.input-btn {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    border-radius: 50px;
}

/* footer */

.footer {
    display: block;
    margin: 0 auto;
    width: 90%;
    padding-bottom: 120px;
}

.extra-footer {
    margin-top: 7vw;
    background-color: #070211;
}

.footer-text {
    display: flex;
    justify-content: space-between;
    margin-left: 9vw;
    margin-right: 11vw;
    gap: 20vw;
    
 }

.footer-discreption p {
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    padding-top: 8vh;
}

.email-number{
    padding-top: 8vh;
}
.ph-number {
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    margin-left: 15vw;
}

.ph-email {
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 10px;
    margin-left: 15vw ;
}

.hr-line {
    margin-top: 30px;
    margin-left: 130px;
    margin-right: 130px;
}

.icon {
    width: 25%;
    display: block;
    margin: 0 auto;
    /* margin-left: 600px;
    margin-right: 600px; */
    margin-top: 40px;
}

.icon ul {
    display: flex;
    justify-content: space-between;
}

.icon li {
    text-decoration: none;

}

.icon li a {
    text-decoration: none;
}

.last-div {
    display: flex;
    justify-content: space-between;
    margin-left: 130px;
    margin-right: 130px;
}

.last-div-text {
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
}

#un-sub {
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    background: #FF0000;
    border-radius: 10px;
    padding: 10px;
    border: 0;
    margin-top: 20px;
}